
#main{
    margin: 0.5em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-template-rows: repeat(3 15em);
    column-gap: 0.5em;
    row-gap: 0.3em;
    background-color: #84b082;
}

h1{
    color:white;
    font-family: 'Alata', sans-serif;
    font-size: medium;
    font-weight: 200;
}

label{
    color: white;
    font-family: 'Montserrat', serif;
    font-size: small;
}

textarea{
    font-family: 'Nunito', sans-serif;
    background-color: #f0a202;
    color:white;
    word-wrap: break-word;
    resize: none;
}

input{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.text_input{
    background-color: #d64933;
    font-family: 'Nunito', sans-serif;
    color:white;
}

.button{
    background-color: #329f5b;
    font-family: 'Montserrat', serif;
    color:white;
}

.tooldiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #2a1e5c;
    padding: 0.5em;
}